{{- $utterances := .Site.Params.utterances -}}
{{- if and .Params.comments $utterances.repo }}
<script src="https://utteranc.es/client.js"
        repo="{{ $utterances.repo }}"
        issue-term="{{ $utterances.issueTerm | default "pathname" }}"
        {{ with $utterances.label }}
        label="{{ . }}"
        {{ end }}
        theme="{{ $utterances.theme | default "github-light" }}"
        crossorigin="{{ $utterances.crossorigin | default "anonymous" }}"
        async>
</script>
{{- end }}
